/* Front-end Styling Author: Daniel Washington */

/* Home page styling */
#pageTitle {
    text-align: center;
    padding: -5px;
    margin-top: 0;
}

#shows-section {
    background-color: #6F6FD6;
    padding: 20px;
    flex-direction: row;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.zoom-image {
    transition: transform .2s;
    width: 250px;
    height: 200px;
    margin: 0 auto;
}

.zoom-image:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.modal-body {
    text-align: center;
}

#footer-content {
    background-color: #8AAFD5;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
}

/* Donate page styling */
#donateHead {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.donateCode {
    padding-top: 20px;
}

.donateText {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .caption {
        font-size: 11px
    }
}


/* CMS Styling Author: Lewis Oxley-Jenkins */

textarea {
    vertical-align: top;
}

.full-width {
    width: 100%;
}

#editShow div, #showForm div {
    padding-top:20px; 
}

input[type=text], input[type=date], input[type=number], input[type=password], select, textarea {
    padding: 5px 10px;
}

input[type=checkbox] {
    height: 30px;
    width: 30px;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}

a[role=button] {
    color: #fff !important;
}

.deleteButton, .deleteButton:active {
    background-color: transparent;
    background-image: url("../img/delete.svg");
    background-repeat: no-repeat;
    background-position: fixed center;
    background-size: 64.5px 64.5px;
    border: none;
    width: 100px;
    height: 100px;
}

.btn-orange {
    background: #ffa812;
    border-color: #ffa812;
    color: #fff;
}

.btn-orange:hover {
    background: #db961f;
    border-color: #db961f;
    color: #fff;
}

/* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  
  /* vertical spacing between columns */
  
  .content {
    height: 100%;
    padding: 20px 20px 10px;
    color: #000;
  }