/* Front-end Styling Author: Daniel Washington */

/* CMS Styling Author: Lewis Oxley-Jenkins */

textarea {
    vertical-align: top;
}

.full-width {
    width: 100%;
}

form div {
    padding-top:20px; 
}

input[type=text], input[type=date], input[type=number], select, textarea {
    padding: 5px 10px;
}

input[type=checkbox] {
    height: 30px;
    width: 30px;
}