/* Front-end Styling Author: Daniel Washington */

/* Home page styling */
#pageTitle {
    text-align: center;
    padding: -5px;
    margin-top: 0;
}

body {
    background-color: #6F6FD6;
}

#shows-section {
    background-color: #6F6FD6;
    padding: 20px;
    flex-direction: row;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.zoom-image {
    transition: transform .2s;
    width: 250px;
    height: 200px;
    margin: 0 auto;
}

.zoom-image:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.modal-body {
    text-align: center;
}

#footer-content {
    background-color: #8AAFD5;
}

/* Donate page styling */
#donateHead {
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-family: sans-serif;
    padding-bottom: 20px;
}

.donateCode {
    padding-top: 20px;
}

.donateText {
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}


/* Donate page image slideshow */
.mySlides {
    display: none;
}

.slideImg {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
}

/* Image Captions */
.textCaption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Image numbers (1/3) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/progress through image cycle */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots {
    text-align: center;
}

.activeSlide {
    background-color: #717171;
}

/* Fading animation */
.mySlides.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .caption {
        font-size: 11px
    }
}


/* CMS Styling Author: Lewis Oxley-Jenkins */

textarea {
    vertical-align: top;
}

.full-width {
    width: 100%;
}

#editShow div, #showForm div {
    padding-top:20px; 
}

input[type=text], input[type=date], input[type=number], input[type=password], select, textarea {
    padding: 5px 10px;
}

input[type=checkbox] {
    height: 30px;
    width: 30px;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}

a[role=button] {
    color: #fff !important;
}

.deleteButton, .deleteButton:active {
    background-color: transparent;
    background-image: url("../img/delete.svg");
    background-repeat: no-repeat;
    background-position: fixed center;
    background-size: 64.5px 64.5px;
    border: none;
    width: 100px;
    height: 100px;
}