/* Front-end Styling Author: Daniel Washington */

/* CMS Styling Author: Lewis Oxley-Jenkins */

textarea {
    vertical-align: top;
}

.full-width {
    width: 100%;
}

#editShow div, #showForm div {
    padding-top:20px; 
}

input[type=text], input[type=date], input[type=number], input[type=password], select, textarea {
    padding: 5px 10px;
}

input[type=checkbox] {
    height: 30px;
    width: 30px;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}

a[role=button] {
    color: #fff !important;
}

.deleteButton {
    background-color: transparent;
    background-image: url("../img/delete.svg");
    background-repeat: no-repeat;
    background-position: fixed center;
    background-size: 64.5px 64.5px;
    border: none;
    width: 100px;
    height: 100px;
}